.Input{
    width: 80%;
    border-radius: 5px;
    margin-left: 10%;
}

.move-table{
    /* background-color: rgb(248, 160, 88) ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px; */
    
}

.card{
    border-radius: 10px;
}

.btn{
     border-radius: 10px;
}
